//Set encoding
@charset "utf-8";
// Variables
@import "variables";
// Bulma and Fontawesome
@import "~bulma/bulma";
@import "~bulma-extensions/dist/css/bulma-extensions.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

html,
body {
  min-height: 100vh;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.emoji {
  height: 1.1em;
  position: relative;
  top: 4px;
  width: 1.1em;
}
