//Set encoding
@charset "utf-8";
// Bulma and Fontawesome
@import "~bulma/bulma";
@import "~bulma-checkradio/dist/css/bulma-checkradio.min.css";
@import "~bulma-calendar/dist/css/bulma-calendar.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

html,
body {
  min-height: 100vh;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.emoji {
  height: 1.1em;
  position: relative;
  top: 4px;
  width: 1.1em;
}

.vue-notification-handler {
  margin: 5px 5px 0 0;
  top: 64px !important;

  .notification {
    margin-top: 5px;
  }
}

#project-render .image {
  padding: 20px !important;
}
